.main{
    width:100%;
    height:600px;
    background-image: url('./bg.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}
.name h1{
    color: white;
    margin-left: 95px;
    font-family: 'Popins',sans-serif;
}
.menu{
    gap:25px;
    margin-top: 15px;
    margin-left: 185px;
    display: flex;
    color:white;
    font-family: 'Popins',sans-serif;
}
.turho{
    width:100%;
    height: 500px;
    /* background-color: aqua; */

}
.turho h1{
    font-family: 'Popins',sans-serif;
    text-align: center;
}
.cards{
    justify-content: space-around;
    display: flex;
    margin-left: 50px;
    width:1100px;
    height: 700px;
    /* background-color: blueviolet; */
}
.c1{
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 15px;
    width:250px;
    height: 290px;
    background-color: lightgrey;

}
.c1 img{
    border-radius: 10px;
    margin-left: 60px;
}
.c1 h3{
    text-align: center;
}
.type{
    align-items: center;
    gap: 20px;
    display: flex;
    height:30px;
    width:250px;
    /* background-color: aqua; */
}
.innf{
    border-radius: 10px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: teal;
    margin-left: 5px;
}
.price{
    
    align-items: center;
    display: flex;
    width:100%;
    height: 40px;
    /* background-color: blue; */
}
.price h4{
    font-family: 'Popins',sans-serif;
}
.price button{
    color:white;
    background-color: teal;
    border:none;
    border-radius: 12px;
    height: 30px;
    margin-left: 50px;
}
.cards2{
    margin-top: -320px;
}
.offer{
    display: flex;
    margin-top: 280px;
    width: 100%;
    height: 400px;
    background-color:rgba(244, 242, 238, 1);
}
.book{
    margin-top: 50px;
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin-left: 55px;
}
.describe{
    margin-top: 40px;
    margin-left: 120px;
    width: 460px;
    height: 300px;
    /* background-color: aqua; */

}
.describe h1{
    font-family: 'Popins',sans-serif;
    color:teal;
    text-align: center;
}
.describe p{
    margin-left: 15px;
    font-family: 'Popins',sans-serif;
}
.describe button{
    border:none;
    color: white;
    background-color: teal;
    border-radius: 10px;
    height: 30px;
    margin-left: 15px;
}
.destination{
    width: 100%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
}
.destination h1{
    text-align: center;
}
.dsc{
    margin-left: 15px;
    margin-top: 15px;
    width: 300px;
    height: 300px;
    /* background-color: lime; */

}
.dsc h1{
    font-family: 'Popins',sans-serif;
}
.dsc p{
    font-family: 'Popins',sans-serif;
    margin-left: 15px;
}
.country{
    margin-left: 15px;
    margin-top: 15px;
    width: 460px;
    height: 300px;
    /* background-color: brown; */
    display: flex;
    /* overflow: scroll; */
}
.country img{
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
    height: 250px;
}
.travel{
    width: 100%;
    height: 900px;
    /* background-color: aqua; */

}
.travel h1{
    font-family: 'Popins',sans-serif;
    text-align: center;
}
.nusa{
    width:700px;
    height: 340px;
    /* background-color: blue; */
    margin-left: 25px;
 display: inline-flex;
}
.nusa img{
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 15px;
    height: 300px;
}
.nusa h2{
    margin-left: 15px;
    font-family: 'Popins',sans-serif;
}
.nusa p{
    margin-left: -400px;
    margin-top: 90px;
}
.header{
    width: 120%;
    height: 125px;
    /* background-color: brown; */
    display: flex;
}
.nusan{

    flex-direction: row-reverse;
    margin-top: 15px;
}
.nusan p{
    margin-left: 20px;
}
.nusan h2{
    margin-left: -150px;
}
.customers{
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    display: inline-block;
    align-content: center;

}
.customers h1{
    padding-top: 25px;
    font-family: 'Popins',sans-serif;
    text-align: center;

}
.im1{
    margin-left: 5px;
}
.tyl{
    margin-bottom: 20px;
    width: 600px;
}
.ttl{
    margin-bottom: 25px;
    width: 200px;
}
.paggin{
    margin-left: -500px;
}
.waves{
    width: 100%;
    height: 400px;
    background-image: url('./banner.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}